@import 'tailwindcss';

:root {
    --text-highlight: #db632b;
    --text-secondary: #9e9e9e;
    --text-base: #e9e9e9;
    --background: #131313;
    --foreground: #ededed;
    --button-blue: #95d0fd;
}

@theme inline {
    --color-background: var(--background);
    --color-foreground: var(--foreground);
    --font-sans: var(--font-geist-sans);
    --font-mono: var(--font-geist-mono);
}

html {
    overflow-x: hidden;
}

body {
    overflow-x: hidden;
    margin-left: 0px;
    background: var(--background);
    color: var(--foreground);
    font-family: var(--font-raleway), sans-serif;
    width: 100%;
    position: relative;
}

h2 {
    font-family: var(--font-raleway), sans-serif;
    text-transform: uppercase;
    letter-spacing: 0.15em;
}

h3 {
    font-family: var(--font-raleway), sans-serif;
    color: var(--text-highlight);
    text-transform: uppercase;
    letter-spacing: 0.3em;
}

h5 {
    font-family: var(--font-raleway), sans-serif;
    color: var(--text-highlight);
    text-transform: uppercase;
    letter-spacing: 0.1em;
}

@layer utilities {
    .no-scrollbar::-webkit-scrollbar {
        display: none;
    }

    .no-scrollbar {
        -ms-overflow-style: none;
        scrollbar-width: none;
    }
}
